/*Contiene los botones y el logo en divs separados*/
#principal{
    position: fixed;
    background-color: #ad682f;
    width: 100%;
    height: 15%;
    top: 0px;
    left: 0px;
}
/*Imagen principal div*/
#principal #logo{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/*Data de la imagen*/
#logo img{
    height: 80px;
    width: 80px;
    margin-top: 5px;
}
/* Data de los botones*/
#principal #botones{
    display: inline-block;
}
/*Modifica las propiedades de los hipervinculos*/
#principal a{
    text-decoration-line: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    top: 0px;
    position: fixed;
}
/*Acomoda los cada uno de los botones para que salgan bien acomodados*/
#principal #botones #menuButton{
    left:5%;
}
#principal #botones #promoButton{
    left: 23%;
}
#principal #botones #galeryButton{
    left:63%;
}

#principal #botones #contactButton{
    left:85%;
}

/*Esto era para pruebas, ya no se ocupa creo*/
#text p{
    font-size: 200px;
}

/*Botones de menu*/

#botonesMenu{
    position: relative;
    top: 80px;
    width: 100%;
    
}

#botonesMenu #postres{
    background-color: gold;
    height: 300px;
}

#botonesMenu #comidas{
    background-color: green;
    height: 300px;
}

#botonesMenu #bebidas{
    background-color: orange;
    height: 300px;
}

/*Antes iba a meter desayunos pero lo combine con comida*/
#botonesMenu #desayunos{
    background-color: deepskyblue;
    height: 300px;
}

/*Menu de comidas*/

/*Ajustar div principal*/
#mainContent {
    padding: 100px 50px;
}
/*Hamburguesas*/
#burguerTitle, #pizzaTitle, #chilaTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*Ajusta las divisiones para que salgan equitativas*/
#foodContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

/*Se coloca centrado*/
#foodName {
    font-size: 20px;
    width: 30%;
    text-align: center;
}

#normalText{
    font-size: 23px;
}

/*Datos de contacto*/
#final{
    background-color: #53381a;
    width: 100%;
    height: 15%;
    left: 0px;
}

#final h3{
    color: white;
}

#final p{
    color: white;
    font-size: 20px;
}